//COLOR DE FONDO EN EL PROYECTO
$colorOpacity: rgba(33, 33, 33, 0.8);
$colorText: #FAFAFA;
$colorNav: #212121;

.navHome{
    //background-color: rgba(33, 33, 33, 0.5);
    background-color: $colorNav;
    color: $colorText;
    width: auto;
    display: grid;
    grid-template-columns: 5% 75% 20%;
    height: 80px;

    .logo{
        display: flex;
        align-items: center;
        .imgLogo{
            width: 60px;
            height: 60px;
        }
    }

    /* .item engloba tanto a los items de la seccionProfile y la sections*/
    .item{
        cursor: pointer;

        .link{
            text-decoration: none;
            color: $colorText;
            &:focus{
                color: inherit;
            }
            &:hover{
                color:#1B9C85;
            }
        }
    }

    /*FIN*/

    .itemsSection, .itemsProfile , .menuSectionToggle{
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .sections{
        .itemsSection{
            font-size:  1.2rem;
        }
    }

    .profile{
        .itemsProfile{
            .item{

                .editAccount{
                    font-size: 1.5rem;
                }
                &.userName{
                    color: #1B9C85;
                    font-style: italic;
                    font-weight: bold;
                }
                &.exit{
                    .link{
                        color:#B31312;
                        &:hover{
                            color: #423f3f;
                        }
                    }
                }

            }
            
        }
    }

    .menuSectionToggle{
        display: none;
        font-size: 1.5rem;
        margin-right: 3rem;
        position: relative;
    }

    .itemsMenuDropDown{
        list-style: none;
        font-size: 1.2rem;
        background-color: #212121;
        position: absolute;
        top: 50%;
        width: 50%;

        .item{
            padding: 10px;
        }
        .userName{
            color: #423f3f;
            font-style: italic;
            cursor: text;
        }
        .editUser{
            margin-bottom: 10px;
            margin-top: 0;
            border-bottom: 1px solid #423f3f;
        }
        .exitMenuDrop{
            border-top:1px solid #423f3f;
            .link{
                color:#B31312;
                &:hover{
                    color: #423f3f;
                }
            }
        }
    }
}

@media screen and (max-width:1150px){
    .navHome{
        grid-template-columns: 5% 70% 25%;
    }
}

@media screen and (max-width: 900px) {
    .navHome{
        grid-template-columns: 10% 90%;
    }

    .sections, .profile{
        display: none;
    }

    .navHome .menuSectionToggle{
        display: flex;
        justify-content: end;
    }

}




/*ESTILOS DEL CONTENEDOR DE LAS VENTAS*/
.containerSale{
    width: 95%;
    margin: 2%;
    height: 80vh;
    background-color: $colorOpacity;
    color: $colorText;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;

    /*ESTILOS CONTENEDOR DE LOS DATOS DEL CLIENTE*/
    .dataCostumer{
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 100%;
        height: fit-content;
        padding: 1%;

        .searchCostumer, .infoCostumer, .infoDocument{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;

            .nameCostumer, .emailCostumer, .RFCCostumer, .folioSale{
                background-color: $colorOpacity;
                border: none;
                margin-top: 5px;
                text-align: center;
                color: $colorText;
                font-size: 20px;
            }
        }

        .searchCostumer{
            #searchID{
                font-size: 20px;
                border: none;
            }
        }

        .infoCostumer{
            justify-items: center;

            .nameCostumer, .emailCostumer{
                width: 80%;
            }
        }

    }

    .Sale{
        height: 100%;
        display: grid;
        grid-template-rows:10% 70% 20%;
        grid-template-columns: 100%;

        input{
            height: 25px;
        }

        .searchProduct, .products, .costs{
            width: 96%;
            margin: 2%;
        }

        .searchProduct{
            display: grid;
            grid-template-columns: 20% 50%;
            grid-gap: 5%;
        }

        .products{

            .tableProducts{
                width: 100%;
                .headersTable{
                    background-color: #1B9C85;
                    height: 30px;
                }
                .bodyTable{
                    background-color: $colorText;
                    color: $colorNav;
                    height: 30px;
                }
            }
        }
        .costs{
            display: grid;
            grid-template-columns: 20% 20% 20% 10%;
            grid-column-gap: 3%;
            grid-template-rows: 100%;
        }
    }

}


/*STYLES OF FOOTER*/
.footerMain{
    background-color: $colorOpacity;
    width: 100%;
    position: fixed;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    color:$colorText;
}